<% include ./partial/header %>
  <div class="container shadow" style=" position: relative;
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px 0 30px 0;
width: 30%;
margin: 150px auto;
">
    <form action="/student/login" method="POST">
      <div class="row">
        <div class="col">
          <h2 style="text-align: center; margin-bottom: 40px; color: gray;">
            Student Login
          </h2>
          <div class="form-group">
            <input class="form-control shadow-none" type="text" name="username" placeholder="Username" />
          </div>

          <div class="form-group">
            <input class="form-control shadow-none" type="password" name="password" placeholder="password" />
          </div>

          
            <button type="submit" class="btn s_l_btn bg-dark" style="margin: 20px 100px 0px 100px;color: white; ">
              Login
            </button>
         
        </div>
      </div>
    </form>
    <a style="width: 100%;
  padding: 10px;
  color:gray;
  border: none;
  border-radius: 4px;
  margin: 10px 134px 0px 134px;
  opacity: 0.85;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;" href="/">Go Back</a>
  </div>

  <% include ./partial/footer %>