#mainNavbar {
    height: 70px;
}
.navbar-brand{
    letter-spacing: 8px !important;
}
#navbarSupportedContent ul li a {
    border-radius: 20px;
    padding: 6px 0px 5px 15px;
    margin: 10px 10px;
}

#navbarSupportedContent ul li {
    margin-left: -20px;
}

.dropdown_menu {
    border-radius: 17px;
    margin: 7.5px 20px 0px 0px;
}

.dropdown_menu li {
    padding: 0px 20px 0px 20px;
}
.dropdown_menu li a{
    font-weight: bold;
    text-align: center;
    padding-right: 20px !important;
    margin-right: 80px !important;
    color: white !important;
}
.dropdown_menu li a:hover{
    background-color: gray;
    color: rgb(218, 218, 218) !important;
}
