#carouselExampleIndicators {
    margin-top: 100px;
}

.card-img-top {
    mix-blend-mode: multiply;
    filter: invert(0);
}

.card:hover {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

.card_container {
    margin: 200px 100px;
}

.card_row {
    justify-content: space-around;
}
.contact h1 {
    font-size: 60px !important;
    color: white;
    letter-spacing: 7px;
    font-weight: bolder;
}
.contact p{
    margin-top:150px;
}
#scrollspy1{
    margin-bottom: 250px !important;
}
.about{
    margin: 180px 90px;
}
.about h1{
    font-size: 50px;
    font-weight: bolder;
    color: black !important;
}
.about a{
    border-radius: 10px;
    margin: 10px;
    padding: 10px 40px;
}