<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/bb2b450143.js"></script>
  <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body>
  <footer class="bg-dark ">
    <div class="f1">
      <div class="f11">
        <h3>Important Links</h3>
        <p><a href="#">Aktu erp</a></p>
        <hr>
        <p><a href="#">United campus</a></p>
        <hr>
        <p><a href="#">Aktu one view</a></p>
        <hr>
      </div>
      <div class="f12">
        <h3> Additional Info</h3>
        <p><a href="#">About Us </a></p>
        <hr>
        <p><a href="#">Terms and Conditions/Privacy Policy</a></p>
        <hr>
        <p><a href="#">FAQ</a></p>
        <hr>
      </div>
    </div>
    <div class="f2" id="f2">
      <form action="/contact-us" method="POST" id="contact_form">
        <div class="row">
          <div class="col">
            <h2 style="text-align: center;">
              CONTACT US
            </h2>
            <div class="form-group form_detail col-7 m-md-3 mx-1 my-2">
              <input class="form-control" type="text" name="FullName" placeholder="Full Name" />
            </div>

            <div class="form-group form_detail col-7 m-md-3 mx-1 my-2">
              <input class="form-control" type="password" name="Email" placeholder="E-mail" />
            </div>
            <div class="form-group form_detail col-7 m-md-3 mx-1 my-2">
              <textarea class="form-control shadow-none" rows="2" placeholder="Leave your message here!"
                  name='message' id="message" required ></textarea>
          </div>

            <div class="form-group form_detail col-7 m-md-3 mx-1 my-2">
              <button type="submit" class="btn btn-lg btn-dark bg-dark btn-block ">
                SUBMIT
              </button>
            </div>
          </div>
        </div>
        </form>

    </div>
    <div></div>
  </footer>

</body>

</html>